<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427029793980-7eu8srg6nemf0mrspe24n9e5f37r1h1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427029793980-7eu8srg6nemf0mrspe24n9e5f37r1h1o</string>
	<key>API_KEY</key>
	<string>AIzaSyBTmX8FBhLk3BuJKZjHVcjfSMemlc1kZz4</string>
	<key>GCM_SENDER_ID</key>
	<string>427029793980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maskaravivek.calcall</string>
	<key>PROJECT_ID</key>
	<string>calcall-b956e</string>
	<key>STORAGE_BUCKET</key>
	<string>calcall-b956e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427029793980:ios:228d4879a65f3ee867d4b9</string>
</dict>
</plist>